.project-card{
    width: 100%;
    max-width: 325px;
}

.custom-file-upload {
    border: 2px solid #ccc;
   
    padding: 6px 12px;
    
    font-weight: bold;
  }
  
  .button-input {
    display: inline-block;
    background-color: #3498db; /* Màu nền */
    color: #ffffff; /* Màu chữ */
    border: none; /* Không viền */
    padding: 12px 24px; /* Đệm trên-dưới và trái-phải */
    text-align: center; /* Canh giữa chữ */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Cỡ chữ */
    cursor: pointer; /* Con trỏ chuột khi di chuyển vào button */
    border-radius: 4px; /* Bo góc button */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
  }


  .button-wrapper {
    display: inline-block;
    margin-right: 10px;
  }
  

  .text-red{
    color: #e71212;
  }

  


.project-card-50-pct{
    .project-card{
        max-width: unset
    }
}

.task-description-box{
    height: 125px;
    resize: none;
    overflow: auto;
}

.scaled-card{
    min-width: 325px;
}

.dual-scroll-view{
    height: 80vh;
}

.users-box{
    height: calc(100% - 150px);
}


.table-view{
    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        .header{
            background: #cacaca;

        }
        tbody{
            td{
                border-bottom: 1px solid #ccc;
            }
        }
    }
}


.table-hover{
    img{
        opacity: 0;
    }

    &:hover{
        img{
            opacity: 1;
        }
    }
}
