table{
    border-collapse: collapse;
    th, td{
        border: 1px solid #ccc;
        padding: 0.5em;
    }
    tr:nth-child(2n){
        background: #f2fcff;
    }
}
.custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .custom-file-upload input[type=file] {
    display: none;
  }